{% extends "ToDo/layout.html" %}
{% load static %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'ToDo/style.css' %}">
{% endblock %}

{% block content%}

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="card" id="list">
					 <div class="card-body">
					 	<h4 class="card-title"> Todo list</h4>
					 	<!-- add Item to do list -->
					 	<div class="add-items">
					 		<form action="#" method="POST" role="form" class="form-inline" id="addItemsForm">
								{% csrf_token %}
								 <div class="input-group  todo-list-input">
								 	 {{ ToDoForm.Task }}
								 	  <span class="input-group-btn">
								 	 	<button class="add btn btn-primary  font-weight-bold mb-3 ml-4">Add</button>
								 	 </span>
							 	 </div>   
						 	</form>
					 	</div>
					 	<!-- add Item to do list End -->

					 	<!-- All list -->
					 	<div>
					 		<ul id="allList">
					 			{% for item in List %}
						 			<li class="list-group-item">
						 				<div class="form-check items">
						 					{% if item.Completed %}
						 				  		<label class="form-check-label" style="text-decoration: line-through;"> 
						 				  			<input class="checkbox" checked="true" class="form-check-input" type="checkbox" id="{{ item.id }}">
						 				  	{% else %}
						 				  		<label class="form-check-label"> 
						 				  			<input class="checkbox"  class="form-check-input" type="checkbox" id="{{ item.id }}">
						 				  	{% endif %}
						 				  		 	{{ item.Task }} 
						 				  </label> 
						 				  <a href="#" id="{{ item.id }}" class="deleteItem"><span ><i class="icon-remove"></i></span></a>
						 				</div> 
						 			</li>
					 			{% empty %}
					 				<div>No Tasks added yet! </div>
					 			{% endfor %}
					 			
					 		</ul>
					 	</div>
					 </div>
				</div>
				
			</div>
		</div>
	</div>

	<script src="{% static 'ToDo/js/addTask.js' %}"></script>
{% endblock%}